---
import Layout from "../layouts/Layout.astro";

import Desktop from "../components/Desktop.astro";

import VerticalSection from "../components/sections/VerticalSection.astro";
import SectionHeader from "../components/sections/SectionHeader.astro";
import HorizontalSection from "../components/sections/HorizontalSection.astro";

import EventList from "../components/events/EventList.astro";
import EventItem from "../components/events/EventItem.astro";

import SongList from "../components/songs/SongList.astro";
import SongItem from "../components/songs/SongItem.astro";

import PhotoGrid from "../components/gallery/PhotoGrid.astro";

import SquarePhoto from "../components/gallery/SquarePhoto.astro";
import VerticalPhoto from "../components/gallery/VerticalPhoto.astro";
import HorizontalPhoto from "../components/gallery/HorizontalPhoto.astro";

import ContactForm from "../components/contact/ContactForm.astro";
import ContactFormInputBox from "../components/contact/ContactFormInputBox.astro";
import ContactFormTextArea from "../components/contact/ContactFormTextArea.astro";
---

<Layout>
	<!-- Home -->
	<VerticalSection id="home">
		<div class="w-full h-full flex flex-row items-center justify-between">
			<h1 class="text-white text-6xl lg:text-8xl font-bebas-neue mb-6" data-aos="zoom-in">ESSE É O DJ FURY</h1>

			<img src="../../src/assets/img/fury.png" data-aos="zoom-in">

			<Desktop>
				<h1 class="text-white text-6xl lg:text-8xl font-bebas-neue mb-6" data-aos="zoom-in">SUCESSO COM A MULHERADA</h1>
			</Desktop>
		</div>
	</VerticalSection>

	<!-- Shows -->
	<HorizontalSection id="shows">
		<div class="w-full lg:w-1/2 h-full flex flex-col items-center justify-center gap-4">
			<img class="w-1/2 h-auto" src="../../src/assets/img/fury_3.png">
		</div>

		<div class="w-full lg:w-1/2 h-full flex flex-col items-center justify-center gap-4">
			<EventList>
				<EventItem date="15 de Fevereiro" name="Teste" location="Neo Química Arena, São Paulo - SP" action="Ingressos" aos="flip-up"/>
				<EventItem date="15 de Fevereiro" name="Teste" location="Neo Química Arena, São Paulo - SP" action="Ingressos" aos="flip-down"/>
				<EventItem date="15 de Fevereiro" name="Teste" location="Neo Química Arena, São Paulo - SP" action="Ingressos" aos="flip-up"/>
				<EventItem date="15 de Fevereiro" name="Teste" location="Neo Química Arena, São Paulo - SP" action="Ingressos" aos="flip-down"/>
				<EventItem date="15 de Fevereiro" name="Teste" location="Neo Química Arena, São Paulo - SP" action="Ingressos" aos="flip-up"/>
				<EventItem date="15 de Fevereiro" name="Teste" location="Neo Química Arena, São Paulo - SP" action="Ingressos" aos="flip-down"/>
			</EventList>
		</div>
	</HorizontalSection>

	<!-- Músicas -->
	<VerticalSection id="musicas">
		<SongList>
			<!-- Left -->
			<SongItem name="Automotivo Vem Fazer Nenem" artists="DJ Fury, DJ Miller Oficial, DJ K" aos="zoom-in-right" />

			<!-- Middle -->
			<Desktop>
				<SongItem name="Automotivo Vem Fazer Nenem" artists="DJ Fury, DJ Miller Oficial, DJ K" aos="zoom-in" />
			</Desktop>

			<!-- Right -->
			<Desktop>
				<SongItem name="Automotivo Vem Fazer Nenem" artists="DJ Fury, DJ Miller Oficial, DJ K" aos="zoom-in-left" />
			</Desktop>
		</SongList>

		<SectionHeader text="MAIS MÚSICAS" />
	</VerticalSection>

	<!-- Galeria -->
	<VerticalSection id="galeria"> 
		<PhotoGrid>
			<SquarePhoto />
			<SquarePhoto />
			<SquarePhoto />

			<VerticalPhoto />

			<SquarePhoto />

			<HorizontalPhoto />
		</PhotoGrid>

		<SectionHeader text="MAIS FOTOS" />
	</VerticalSection>

	<!-- Contato -->
	<HorizontalSection id="contato">
		<!-- Socials -->
		<div class="w-full lg:w-1/2 h-full flex flex-col items-center justify-center gap-4">
			<SectionHeader text="REDES SOCIAIS" />

			<div class="relative w-full h-full flex items-center justify-center -z-10" data-aos="fade-right">
				<img class="absolute" src="../../src/assets/img/fury_4.png">	
			</div> 

			<div class="flex flex-row items-center justify-center gap-8" data-aos="fade-up">
				<a class="flex flex-row items-center justify-center gap-2">
					<img class="w-[16px] h-[16px] lg:w-[32px] lg:h-[32px]" src="../../src/assets/img/instagram.png">
					<p class="text-white lg:text-xl font-bebas-neue">Instagram</p>
				</a>
				<a class="flex flex-row items-center justify-center gap-2">
					<img class="w-[16px] h-[16ppx] lg:w-[32px] lg:h-[32px]" src="../../src/assets/img/spotify.png">
					<p class="text-white lg:text-xl font-bebas-neue">Spotify</p>
				</a>
			</div>
		</div>

		<!-- Form -->
		<div class="w-full lg:w-1/2 h-full flex flex-col items-center justify-center gap-4">
			<SectionHeader text="FORMULÁRIO" />

			<ContactForm>
				<ContactFormInputBox name="Nome" placeholder="Escreva seu nome aqui..." type="name" aos="fade-left" id="name"  />
				<ContactFormInputBox name="E-mail" placeholder="Escreva seu e-mail aqui..." type="email" aos="fade-left" id="email" />

				<ContactFormTextArea name="Mensagem" placeholder="Escreva sua mensagem aqui..." aos="fade-left" id="message" />

				<div data-aos="fade-up">
					<button type="submit" class="w-full text-white text-2xl lg:text-4xl font-bebas-neue">Enviar</button>
				</div>
			</ContactForm>
		</div>
	</HorizontalSection>
</Layout>