<header class="fixed w-full h-36 flex lg:container justify-between items-center px-4 py-4 lg:px-4 lg:py-8">
    <img class="hidden lg:block w-[128px] h-auto" src="../../src/assets/img/logo.png">

    <div class="flex items-center justify-center gap-8">
        <a href="#home" class="text-white text-2xl lg:text-4xl font-bebas-neue">HOME</a>
        <a href="#shows" class="text-white text-2xl lg:text-4xl font-bebas-neue">SHOWS</a>
        <a href="#musicas" class="text-white text-2xl lg:text-4xl font-bebas-neue">MÚSICAS</a>
        <a href="#galeria" class="text-white text-2xl lg:text-4xl font-bebas-neue">GALERIA</a>
        <a href="#contato" class="text-white text-2xl lg:text-4xl font-bebas-neue">CONTATO</a>
    </div>
</header>