---
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css"
---

<!doctype html>
<html class="scroll-smooth" lang="en">
	<head>
		<title>DJ Fury</title>

		<link  href="../../src/assets/img/favicon.png" rel="icon" type="image/x-icon">

		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

		<meta charset="UTF-8">

		<meta property="og:title" content="djfuryoficial">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://shnakamura.github.io/djfuryoficial/">
		<meta property="og:image" content="http://shnakamura.github.io../../src/assets/img/fury.png" />
		<meta property="og:description" content="Sucesso com a Mulherada" />

		<meta name="generator" content={Astro.generator} />

        <meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0">
	</head>
	<body class="bg-black flex flex-col items-center overflow-x-hidden">
		<Main>
			<slot />
		</Main>

		<Header />

		<script is:inline src="https://unpkg.com/aos@next/dist/aos.js" />
		<script is:inline src="../../src/scripts/index.js" />
	</body>
</html>
